// SCSS global variables

//------------------------------------------------------------------------------------
//  JAGS SETTINGS
//------------------------------------------------------------------------------------
$gs_break_mobile_large: 30.25em; // 484px and up
$gs_break_tablet: 48.25em; // 772px and up
$gs_break_tablet_large: 62.25em; // 996px and up

$gs_box_margin: 0 10px;
$gs_box_margin_large: 0 10px 20px;
$gs_box_padding: 0 5px;
$gs_box_padding_large: 0 5px;

$gs_border_color: #f00;
$gs_border_style: solid;
$gs_border_width: 1px;