// SCSS global variables

//------------------------------------------------------------------------------------
//  JAGS SETTINGS
//------------------------------------------------------------------------------------
$jags_break_mobile_large: 30.25em;  // 484px and up
$jags_break_tablet: 48.25em;        // 772px and up
$jags_break_tablet_large: 62.25em;  // 996px and up

$jags_box_margin: 0 10px 10px;
$jags_box_margin_mobile_large: $jags_box_margin;
$jags_box_margin_tablet: $jags_box_margin_mobile_large;
$jags_box_margin_tablet_large: $jags_box_margin_tablet;

$jags_box_padding: 10px;
$jags_box_padding_mobile_large: $jags_box_padding;
$jags_box_padding_tablet: $jags_box_padding_mobile_large;
$jags_box_padding_tablet_large: $jags_box_padding_tablet;

$jags_border_color: #f00;
$jags_border_style: solid;
$jags_border_width: 1px;