// SCSS global variables

//------------------------------------------------------------------------------------
//  JAGS SETTING DEFAULTS
//------------------------------------------------------------------------------------
$jags_break_mobile_large: 30.25em !default;  // 484px and up
$jags_break_tablet: 48.25em !default;        // 772px and up
$jags_break_tablet_large: 62.25em !default;  // 996px and up

$jags_box_margin: 0 10px 10px !default;
$jags_box_margin_mobile_large: $jags_box_margin !default;
$jags_box_margin_tablet: $jags_box_margin_mobile_large !default;
$jags_box_margin_tablet_large: $jags_box_margin_tablet !default;

$jags_box_padding: 10px !default;
$jags_box_padding_mobile_large: $jags_box_padding !default;
$jags_box_padding_tablet: $jags_box_padding_mobile_large !default;
$jags_box_padding_tablet_large: $jags_box_padding_tablet !default;

$jags_border_color: #f00 !default;
$jags_border_style: solid !default;
$jags_border_width: 1px !default;