// SCSS global variables

//------------------------------------------------------------------------------------
//  JAGS SETTING DEFAULTS
//------------------------------------------------------------------------------------
$jags-break-mobile-large: 30.25em !default;  // 484px and up
$jags-break-tablet: 48.25em !default;        // 772px and up
$jags-break-tablet-large: 62.25em !default;  // 996px and up

$jags-box-margin: 0 10px 10px !default;
$jags-box-margin-mobile-large: $jags-box-margin !default;
$jags-box-margin-tablet: $jags-box-margin-mobile-large !default;
$jags-box-margin-tablet-large: $jags-box-margin-tablet !default;

$jags-box-padding: 10px !default;
$jags-box-padding-mobile-large: $jags-box-padding !default;
$jags-box-padding-tablet: $jags-box-padding-mobile-large !default;
$jags-box-padding-tablet-large: $jags-box-padding-tablet !default;

$jags-border-color: #f00 !default;
$jags-border-style: solid !default;
$jags-border-width: 1px !default;